<!DOCTYPE html>
<html>
    <head>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    </head>
    <body>
        <form action="" method="POST">
              <input type="text" name="email" placeholder="Email" />
              <input type="password" name="password" placeholder="Password" />
              <div class="h-captcha" data-sitekey="aed90387-e9c8-4558-8e70-f992607c5faf"></div>
              <br />
              <input type="submit" value="Submit" />
        </form>
        {{ content }}
    </body>
</html>
<html>
  <body>
  </body>
</html>
